---
layout: default
title: About me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>About me</h1>
      <hr>
	  计算机在读小硕一枚，二次元，<br>
	  目前专注数据挖掘和机器学习方面的学习和研究，<br>
	  兴趣爱好广泛，但大多不精通。<br>
	  最后心疼的摸摸自己的头发(￣.￣)<br><br>
	  
      Email: xinhan197@gmail.com <br><br>

      感谢<a href="https://github.com/lszero/zero-theme" target="_blank">zero-theme</a>提供的主题：
      <br><br>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
